<div class="container-post-details">
    <div class="post-card-container">
        <div class="post-card-content">
            <h1 class="post-card-title">{{post.title}}</h1>
            <div class="post-card-body">
                <p>{{ post.body }}</p>
            </div>
        </div>
    </div>
    <br>
    <div class="post-card-container">
        <div class="post-card-content">
            <h1 class="post-card-title">Comments</h1>
            <div class="post-comment-body">
                <h3><b>name</b></h3>
                 <p>this is my comment ! this is my comment ! this is my comment !this is my comment !this is my comment !this is my comment !this is my comment !this is my comment !this is my comment !this is my comment !this is my comment !this is my comment !this is my comment !</p>
            </div>

            <div class="post-comment-body">
                <h3><b>name</b></h3>
                 <p>this is my comment !</p>
            </div>

            <div class="post-comment-body">
                <h3><b>name</b></h3>
                 <p>this is my comment !</p>
            </div>

            <div class="form">
                
            </div>

        </div>
    </div>

</div>